/* основний колір тексту color: #212121; */
/* другорядний колір тексту color: #757575; */
/* колір ховера #2196f3; */
/* основний колір фона background: #ffffff; */
/* другорядний колір фона background: #F5F4FA; */
/* фон HERO і футера #2f303a; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* скидання точок списка можна ще зробити використавши клас list (ми кожному списку надавали клас) */

/* Header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.studio-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-cont-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-cont-link:hover,
.header-cont-link:focus {
  color: var(--accent-color);
}

/* в хедер сторінки портфоліо добавили клас current 
для підсвітки сторінки, на якій ми находимось на даний момент. 
Див. відео Репети модуль 2, вебінар 3, на відрізку 2год 30 хв*/
.header-list .header-link.current {
  color: var(--accent-color);
}

/* Hero 
- поки що поставив колір бекграунда #2f303a, так як ще нема картинки
і забрав -  text-align: center; див. Figma */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: var(--hero-footer-bg-color);
}

/* в кнопки поки що забрав - 
display: flex;
  align-items: center;
  text-align: center;
position: absolute; 
width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

}

див. Figma */
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #188ce8;
}

/* Наши преимущества */

.benefits-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
}
/* поки забрав   text-align: center; */

/* Наша команда */

.team {
  background-color: var(--secondary-bg-color);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}
/* поки забрав   text-align: center; */

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* поки забрав   text-align: center; */

/* Footer */
.footer {
  background-color: var(--hero-footer-bg-color);
}

.studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-cont-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-cont-link:hover,
.footer-cont-link:focus {
  color: var(--accent-color);
}

/* Портфолио */

.active-btn {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--accent-color);
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
